# Advanced sets

This unit looks at the various methods for sets: basics and advanced.

A set does not take duplicate elements and only presents elements once. Use {}

## add - clear

In [2]:
s = set()
s.add(1)
s.add(2)
s.add(3)
s.add(2)
print(s)

{1, 2, 3}

In [5]:
s.clear()
s

set()

In [12]:
original = {1,2,3,4}

In [13]:
copy = original.copy()
copy

{1, 2, 3, 4}

In [14]:
original.add(5)

In [15]:
print(original, copy)

{1, 2, 3, 4, 5} {1, 2, 3, 4}

## difference method

In [16]:
# With difference() the values that are different between two sets are returned:

original

{1, 2, 3, 4, 5}

In [17]:
copy

{1, 2, 3, 4}

In [18]:
original.difference(copy)

{5}

## difference_update

In [21]:
# Method difference_update compares two sets and takes out the values that they have in common, and returns 
# the remaining values in the first set:

s1 = {1,3,5,6}
s2 = {3,4,6,7}
s1.difference_update(s2)

In [22]:
print(s1)

{1, 5}

In [23]:
print(s2)

{3, 4, 6, 7}

## discard

In [26]:
# The discard() method will remove a value from the set IF the value exists (otherwise, nothing happens):
s2.discard(6)
print(s2)

{3, 4, 7}

## intersection and intersection_update

In [31]:
# The intersection() method returns the elements that are common to all sets, as a new set:

s1 = {1,2,3,4,45,8,78,45}
s2 = {1,2,4,5,35,65,85,45,32,78}

In [32]:
s1.intersection(s2)

{1, 2, 4, 45, 78}

In [33]:
# The intersection_update() updates s1 so that it becomes equal to the intersection with s2:

s1.intersection_update(s2)

In [34]:
s1

{1, 2, 4, 45, 78}

## .isdisjoint()

In [35]:
# The isdisjoint method returns true if the various sets have null intersection:

s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [36]:
s1.isdisjoint(s2)

False

In [37]:
s1.isdisjoint(s3)

True

## .issubset() and .issuperset()

In [42]:
print(s1, s2)

{1, 2} {1, 2, 4}

In [43]:
s1.issubset(s2)

True

In [44]:
s2.issuperset(s1)

True

## symmetric_difference()

In [51]:
s1 = {9,2,4,5,6,7,8}
s2 = {1,2,4,6,7,8}

In [52]:
s1.symmetric_difference(s2)

{1, 5, 9}

In [ ]:
# The method symmetric_difference_update will change s1 into a set with the values that are different

## union()

In [53]:
s1.union(s2)

{1, 2, 4, 5, 6, 7, 8, 9}