In [2]:
'Hello World'

'Hello World'

In [3]:
print('hello')

hello

In [4]:
mystring = "Hello World"

In [5]:
mystring

'Hello World'

In [6]:
mystring[0]

'H'

In [7]:
mystring[8]

'r'

In [8]:
mystring[-2]

'l'

In [9]:
mystring = "abcdefghijk"

In [10]:
mystring

'abcdefghijk'

In [12]:
mystring[2:]

'cdefghijk'

In [13]:
mystring(:3)

SyntaxError: invalid syntax (<ipython-input-13-f5142dd123f0>, line 1)

In [14]:
mystring[:3]

'abc'

In [15]:
mystring[3:6]

'def'

In [16]:
mystring[1:3]

'bc'

In [17]:
mystring[3:9]

'defghi'

In [19]:
mystring[::3]

'adgj'

In [20]:
mystring[2:7:2]

'ceg'

In [21]:
mystring[::-1]

'kjihgfedcba'

In [23]:
'hello world'[8]

'r'

In [25]:
name = "Sam"

In [26]:
name

'Sam'

In [35]:
last_part = name[1:]

In [28]:
first_part = 'P'

In [36]:
name = first_part + last_part

In [37]:
name

'PmP'

In [38]:
print(name)

PmP

In [39]:
x = 'Hello World! '

In [41]:
y = x + 'it is beautiful outside'

In [42]:
y

'Hello World! it is beautiful outside'

In [43]:
x = 'Hello World'

In [44]:
x.upper()

'HELLO WORLD'

In [45]:
x

'Hello World'

In [46]:
x.split

In [47]:
x.split()

['Hello', 'World']

In [48]:
'String here {} then also {}'.format('x', 'y')

'String here x then also y'

In [50]:
print('Today is {d}, not {a} or {c} or {b}'.format(a ='Monday', b = 'Wednesday', c = 'Tuesday', d = 'Sunday'))

Today is Sunday, not Monday or Tuesday or Wednesday

In [1]:
result = 100/888

In [2]:
result

0.11261261261261261

In [10]:
print("The result:{r:10.7f}".format(r=result))

The result: 0.1126126

In [12]:
a = 'Monday'
b = 'Tuesday'
c = 'Wednesday'
print(f"Today is not {a} or {b} but {c}.")

Today is not Monday or Tuesday but Wednesday.

In [1]:
my_list = [1, 2, 3]

In [2]:
len(my_list)

3

In [3]:
mylist = ['one', 'two', 'three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[0:]

['one', 'two', 'three']

In [7]:
my_list + mylist

[1, 2, 3, 'one', 'two', 'three']

In [8]:
my_list.append('four')

In [9]:
my_list

[1, 2, 3, 'four']

In [10]:
my_list.pop()

'four'

In [11]:
my_list

[1, 2, 3]

In [12]:
my_list.pop(0)

1

In [13]:
my_list

[2, 3]

In [14]:
new_list = ['g', 'w', 'i', 'h']
num_list = [2534, 9453, 243, 543, 24]

In [17]:
print(new_list.sort())

None

In [18]:
new_list

['g', 'h', 'i', 'w']

In [19]:
num_list.sort()

In [20]:
print(num_list)

[24, 243, 543, 2534, 9453]

In [23]:
a_list = new_list + num_list

In [24]:
a_list

['g', 'h', 'i', 'w', 24, 243, 543, 2534, 9453]

In [25]:
a_list.sort()
a_list

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
num_list

[24, 243, 543, 2534, 9453]

In [27]:
num_list.pop()

9453

In [28]:
num_list

[24, 243, 543, 2534]